.todo-item {
  padding: 20px 0;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__block {
    display: flex;
    
    gap: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    background-color: #fafafa;
    max-width: 700px;
    margin: 0 auto 16px;
    align-items: center;

    &__items {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 20px;
    }

    img {
      width: 120px;
      height: 150px;
      object-fit: cover;
      border-radius: 6px;
    }

    h3 {
      font-weight: 700;
      color: rgba(0, 0, 0, 0.74);
      font-size: 18px;
    }

    h4 {
      font-weight: 700;
      color: rgba(0, 0, 0, 0.6);
      font-size: 16px;
    }

    &__actions {
      button {
        align-self: flex-start;
        padding: 8px 16px;
        background-color: #1e90ff;
        color: white;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        font-weight: 600;
        transition: 0.5s;
        
        &:hover {
          background-color: #005bb5;
        }
      }
    }
  }
}